.footer {
    background-color: #151a1f;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-top: 125px;
    font-size: 20px;
    font-weight: bold;
    left: 0;
    bottom: 0;
}